body {
  background: silver url("../images/poeraven.jpg") no-repeat right bottom;
max-width: 60em;
margin: 0 auto 0 auto;
}

table, th, td {
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}

/*  I like how the image I added here added to all of the links in the webpage  */
