body {
  background: pink url("../images/poeraven.jpg") no-repeat right bottom; /*  I like how the image I added here added to all of the links in the webpage  */
max-width: 60em;
margin: 0 auto 0 auto;
}

table, th, td {
border-collapse: collapse;
border: 1px solid #000;
padding: 1em;
}

/*  The comment feature was really helpful for this assgignment  */
